.portfolio--nav-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  width: 4rem;
  height: auto;
  left: -1rem;
  top: 4rem;
  position: absolute;
  overflow: hidden;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 0.5rem;
  transition: all 250ms ease-in;
  background-color: rgba(23, 165, 137, 0.85); /* 0.85 */
}
.portfolio--nav-container-hidden {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  width: 0;
  height: auto;
  left: 0;
  top: 4rem;
  position: absolute;
  overflow: hidden;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 0.5rem;
  transition: all 250ms ease-in;
}
.portfolio--nav-list-elem {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.5rem;
}
.portfolio--nav-elem {
  color: var(--timeTracking-Pale-Blue);
  width: 100%;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  transition: all 300ms;
}
.portfolio--nav-elem:hover {
  color: var(--primary-Cyan);
  background: var(--advice-neon-green);
  cursor: pointer;
  transform: scale(1.1);
}
a {
  color: var(--timeTracking-Pale-Blue);
}

@media (min-width: 32rem) {
  .portfolio--nav-container {
    width: 100%;
    height: 4rem;
    align-items: center;
    flex-direction: row;
    top: 0;
    position: fixed;
    justify-content: space-evenly;
    background-color: transparent; /* 0.85 */
  }
  .portfolio--nav-container-hidden {
    width: 100%;
    height: 4rem;
    align-items: center;
    flex-direction: row;
    top: 0;
    position: fixed;
    justify-content: space-evenly;
    background-color: transparent; /* 0.85 */
  }
  .portfolio--nav-elem {
    padding: 0.25rem 0.85rem;
  }
}
